.anterior {
    border-style: solid;
    border-width: 3px;
    border-color:blueviolet;
    width: 210px;
    background-color:lightblue;
    height: 113px;
    background-image:url("../img/f01.png");
    background-repeat: repeat-x;
    background-position: bottom;
}
.anterior .cielo-anterior{
    margin-top: -40px;
}
.anterior .mario-anterior{
    margin-top: -76px;
}

.anterior .texto{
    margin-top:5px;
}
.contenedor {
    margin: 20px;
    border-style: solid;
    border-width: 4px;
    border-color:firebrick;
    width: 450px;
    background-color:lightblue;
    height: 450px;
    
    background-image:url("../img/f01.png");
    background-repeat: repeat-x;
    background-position: bottom;
}
.contenedor .cielo{
    width: auto;
    height: 332px;
    background-image: url("../img/f03.png");
    background-repeat: repeat-x;
}
.contenedor .texto2{
    margin: 5px;
    padding: 20px;
}