.svg-top{
    margin-left: -20px;
    
}
.svg-bot{
    margin-left: 10px;
    margin-right: 10px;
}
.svg-user{
    margin-left: 20px;
    margin-right: 20px;
}
.nav-bottom{
    border-right-color:royalblue;
    border-right-width: 1px;
    border-right-style: solid;
}
.rounded-top {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.rounded-bottom {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-top-text{
    margin-left:10px;
    margin-top:15px;
    margin-right: 50px;
}
.logo{
    margin-left: -30px;
    margin-right: 20px;
}
.buscar{
    margin-right: 20px;
}
@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	/*.dropdown-menu > li:hover{ background-color: #f1f1f1 }*/
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}